---
layout: page
title: RS Seminars & events
subtitle: A monthly seminars series by research students for research students
---

<img src="{{ site.baseurl }}/img/UoY_CS.jpg"/>

<p></p>

<div id="wrapper" class="clear">
    <div id="left50">
        <h3><strong>January seminar</strong></h3>
        <p></p>
        <strong>PIZZA!</a></strong>
        <p></p>
        <!-- Speaker here -->
        <p></p>
        15:30-17:00, Thursday 18th January
        <p></p>
        The Pod
    </div>  
    <div id="right50">
        <h3><strong>February seminar</strong></h3>
        <p></p>
        <strong>Introduction to Research Groups (part 1)</strong>
        <p>Various speakers (TBC)</p>
        <p>15:30-16:30, Thursday 1st February</p>
        <p>Room TBA</p>
        <br />
    </div>
</div>

<!--
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h5 class="post-title">{{ post.title }}</h5>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
-->
